.videoThumbnail {
   margin-bottom: 15px;
   position: relative;
}
.videoThumbnail img {
   transition: all 0.3s ease-in-out;
}
.videoThumbnail svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50px;
   height: 50px;
   cursor: pointer;
}
.videoThumbnail .triangle {
   opacity: 0;
   stroke-dasharray: 240;
   stroke-dashoffset: 480;
   stroke: white;
   transform: translateY(0);
   transition: all 0.5s ease-in-out;
}
.videoThumbnail .circle {
   opacity: 0;
   stroke: white;
   stroke-dasharray: 650;
   stroke-dashoffset: 1300;
   transition: all 0.5s ease-in-out;
}
.videoThumbnail:hover img {
   opacity: 0.5;
}
.videoThumbnail:hover .triangle {
   cursor: pointer;
   stroke-dashoffset: 0;
   opacity: 1;
   stroke: #da2f68;
   animation: trailorPlay 0.5s ease-in-out;
}
.videoThumbnail:hover .circle {
   opacity: 1;
   cursor: pointer;
   stroke-dashoffset: 0;
   stroke: #da2f68;
}
